body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div[role="actions"] {
    margin-top: 20px;
}

#editor {
    border: 1px solid #ccc;
}

.CodeMirror {
    font-size: 1.7em;
    line-height: 1.25em;
}

.CodeMirror-scroll {
    height: -webkit-calc(100% - 180px);
}

#log {
    list-style: none;
    margin: 10px 0 0 0;
}

#log li {
    margin-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e8e8e8;
    clear: left;
    overflow: auto;
    font-size: 1.8em;
    line-height: 1.4em;
    height: 30px;
    overflow: hidden;
}

#log li > * {
    float: left;
}

#log li > span.label {
    margin-top: 6px;
}

#log li > .log-content {
    margin-left: 10px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

*[data-view] {
    display: none;
}

*[data-view].active {
    display: block;
}